.nav {
    grid-area: n;
    background-color: blanchedalmond;
}

.item {
    color: black;
}

.active {
    color: blueviolet;
}

.friend img {
    width: 50px;
    height: 50px;
    border-radius: 3em;
    margin: 10px;
}